<h2 class="text-center">{{ "Create new board" | translate | titlecase }}</h2>
<form class="form" (submit)="onSubmit()">
  <mat-form-field appearance="fill">
    <mat-label>{{ "Board title" | translate }}</mat-label>

    <input
      matInput
      placeholder="New board"
      [(ngModel)]="title"
      [ngModelOptions]="{ standalone: true }"
      id="title"
      required
      minlength="4"
    />
  </mat-form-field>

  <ng-multiselect-dropdown
    [placeholder]="'add users'"
    [settings]="dropdownSettings"
    [data]="dropdownList"
    (onSelect)="onItemSelect($event)"
    (onSelectAll)="onItemSelectAll($event)"
    (onDeSelect)="onItemDeSelect($event)"
    (onDeSelectAll)="onItemDeSelectAll($event)"
  >
  </ng-multiselect-dropdown>

  <button mat-button color="primary" (click)="onClick()">
    {{ "Close" | translate }}
  </button>
  <button
    mat-button
    color="primary"
    type="submit"
    value="submitButton"
    [disabled]="title.length < 3"
  >
    {{ "Create" | translate }}
  </button>
</form>
