<h2 class="text-center">Create new board</h2>
<!-- <form class="form" (submit)="onSubmit()" [formGroup]="newBoardForm"> -->
<form class="form" (submit)="onSubmit()">
  <mat-form-field appearance="fill">
    <mat-label>Board title</mat-label>
    <!-- <input
      matInput
      placeholder="New board"
      formControlName="title"
      id="title"
    /> -->
    <input
      matInput
      placeholder="New board"
      [(ngModel)]="title"
      [ngModelOptions]="{ standalone: true }"
      id="title"
      required
      minlength="4"
    />
    <!-- <mat-error *ngIf="title.errors?.['required']">Title is required</mat-error> -->
    <!-- 
    <mat-error *ngIf="newBoardForm.controls.title.errors?.['minLength']"
      >Title must be at least 4 characters</mat-error
    > -->
    <!-- <mat-error *ngIf="title.valid.['required']">Title is required</mat-error>
    <mat-error *ngIf="title.valid.['minLength']"
      >Title must be at least 4 characters</mat-error
    > -->
  </mat-form-field>

  <ng-multiselect-dropdown
    [placeholder]="'add users'"
    [settings]="dropdownSettings"
    [data]="dropdownList"
    (onSelect)="onItemSelect($event)"
    (onSelectAll)="onItemSelectAll($event)"
    (onDeSelect)="onItemDeSelect($event)"
    (onDeSelectAll)="onItemDeSelectAll($event)"
  >
  </ng-multiselect-dropdown>

  <button mat-button color="primary" (click)="onClick()">Close</button>
  <button mat-button color="primary" type="submit" value="submitButton">
    Create
  </button>
</form>
