<h2 class="text-center">Create new column</h2>
<form class="form" (submit)="onSubmit()" [formGroup]="newColumnForm">
  <mat-form-field appearance="fill">
    <mat-label>Column title</mat-label>
    <input formControlName="title" matInput placeholder="New column" />
    <mat-error *ngIf="newColumnForm.invalid">{{ getErrorMessage() }}</mat-error>
  </mat-form-field>

  <button mat-button (click)="closeModal()">Close</button>
  <button mat-button type="submit" [disabled]="!newColumnForm.valid">
    Create new
  </button>
</form>
