<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container d-flex justify-content-between">
      <img
        src="../../../assets/project-management.png"
        class="me-5"
        height="36"
        alt=""
        loading="lazy"
      />
    <div class="navbar d-flex flex-grow-1 justify-content-end justify-content-sm-between">
        <span class="nav-link d-none d-sm-block">Project Management Tool</span>
        <div class="d-flex align-items-center">
            <button mat-raised-button>
            Login
            </button>
            <button mat-raised-button>
            Sign up
            </button>       
        </div>
    </div>
  </div>
</nav>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container d-flex justify-content-end">
        <button mat-button color="primary">EN</button>
    </div>
</nav>