<div class="container">
  <div class="text-center">
    <h2 class="d-inline text-center p-3">{{ "Boards" | translate }}</h2>
    <button mat-mini-fab color="primary" (click)="onClick()">
      <mat-icon>plus_one</mat-icon>
    </button>
  </div>

  <mat-divider></mat-divider>
  <div class="boards-container">
    <div class="board" (click)="onClick()">
      {{ "create new board" | translate }}
    </div>
    <app-board-icon
      *ngFor="let board of boards"
      [board]="board"
      (deleteEvent)="deleteBoard($event)"
    ></app-board-icon>
  </div>

  <app-modal *ngIf="modalService.isVisible$.value">
    <app-confirmation
      *ngIf="confirmVisible"
      (confirmEvent)="onConfirm($event)"
      title="Do you want to remove board?"
    ></app-confirmation>
    <app-board-form
      *ngIf="formVisible"
      (newBoardEvent)="onNewBoardEvent($event)"
    ></app-board-form>
  </app-modal>

  <div appMessage *ngIf="errorMessage">{{ errorMessage }}</div>
</div>
