<div class="d-flex align-items-center">
  <button *ngIf="!token" mat-button class="me-2" (click)="showLoginForm()">
    Log in
  </button>
  <button *ngIf="!token" mat-button (click)="showSingUpForm()">Sign up</button>
  <span *ngIf="token">{{ userLogin }}</span>
  <button *ngIf="token" mat-icon-button color="primary">
    <mat-icon>person icon</mat-icon>
  </button>
  <button *ngIf="token" mat-button (click)="logout()">Logout</button>
  <app-modal *ngIf="modalService.isVisible$.value">
    <app-auth-form
      (formEvent)="authorize($event)"
      [isUserNew]="isUserNew"
    ></app-auth-form>
  </app-modal>
</div>
