<div class="d-flex align-items-center">
  <button *ngIf="!token" mat-button class="me-2" (click)="showLoginForm()">
    {{ "Log in" | translate }}
  </button>
  <button *ngIf="!token" mat-button (click)="showSingUpForm()">
    {{ "Sign up" | translate }}
  </button>
  <span *ngIf="token">{{ userLogin }}</span>
  <button
    *ngIf="token"
    mat-icon-button
    color="primary"
    (click)="showUserForm()"
  >
    <mat-icon>person icon</mat-icon>
  </button>
  <button *ngIf="token" mat-button (click)="openConfirm()">
    {{ "Log out" | translate }}
  </button>

  <app-modal *ngIf="modalService.isVisible$.value">
    <app-auth-form
      *ngIf="authFormVisible"
      (formEvent)="authorize($event)"
      [isUserNew]="isUserNew"
    ></app-auth-form>
    <app-confirmation
      *ngIf="logOutConfirmVisible"
      title="Do you want to log out?"
      (confirmEvent)="logout($event)"
    ></app-confirmation>
  </app-modal>
</div>
