<footer class="text-center text-lg-start">
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    <div class="container d-flex justify-content-between align-items-center">
      <a [href]="link.github" class="link-secondary"
        ><img height="28" src="../../../assets/github-logo.png" alt=""
      /></a>
      <span>2023</span>
      <a class="text-dark" [href]="link.course"
        ><img height="28" src="../../../assets/rsschool.png" alt=""
      /></a>
    </div>
  </div>
</footer>
