<h2 class="text-center">{{ isUserNew ? "Sing up" : "Log in" }}</h2>
<form class="form" (submit)="onSubmit()" [formGroup]="userForm">
  <mat-form-field *ngIf="isUserNew">
    <mat-label>Name</mat-label>
    <input matInput placeholder="Ex. David" formControlName="name" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Login</mat-label>
    <input matInput placeholder="Ex. David" formControlName="login" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Password</mat-label>
    <input
      matInput
      type="password"
      placeholder="enter your password"
      formControlName="password"
    />
  </mat-form-field>
  <button mat-button color="primary" (click)="closeModal()">Close</button>
  <button mat-button color="primary" type="submit" value="submitButton">
    {{ isUserNew ? "Join" : "Log in" }}
  </button>
</form>
