<h2 class="text-center">
  {{ (isUserNew ? "Sing up" : "Log in") | translate }}
</h2>
<form class="form" (submit)="onSubmit()" [formGroup]="userForm">
  <mat-form-field *ngIf="isUserNew">
    <mat-label>Name</mat-label>
    <input matInput placeholder="Ex. David" formControlName="name" />
    <mat-error *ngIf="userForm.controls['name'].errors">{{
      getErrorMessage("name")
    }}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{ "Login" | translate }}</mat-label>
    <input matInput placeholder="Ex. David" formControlName="login" />
    <mat-error *ngIf="userForm.controls['login'].errors">{{
      getErrorMessage("login")
    }}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{ "Password" | translate }}</mat-label>
    <input
      matInput
      type="password"
      placeholder="enter your password"
      formControlName="password"
    />
    <mat-error *ngIf="userForm.controls['password'].errors">{{
      getErrorMessage("password")
    }}</mat-error>
  </mat-form-field>
  <div class="buttons">
    <button mat-button color="primary" (click)="closeModal()">
      {{ "Close" | translate }}
    </button>
    <button
      mat-button
      color="primary"
      type="submit"
      [disabled]="
        isUserNew
          ? !userForm.valid
          : userForm.controls['password'].invalid ||
            userForm.controls['login'].invalid
      "
    >
      {{ (isUserNew ? "Join" : "Log in") | translate }}
    </button>
  </div>
</form>
