<div class="container">
  <h2 class="text-center">{{ "Edit profile" | translate }}</h2>
  <form class="form" [formGroup]="userForm" (submit)="editProfile()">
    <mat-form-field>
      <mat-label>{{ "Name" | translate }}</mat-label>
      <input matInput formControlName="name" [(ngModel)]="userData.name" />
      <mat-error *ngIf="userForm.controls.name.errors">{{
        getErrorMessage("name")
      }}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ "Login" | translate }}</mat-label>
      <input matInput formControlName="login" [(ngModel)]="userData.login" />
      <mat-error *ngIf="userForm.controls.login.errors">{{
        getErrorMessage("login")
      }}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ "Password" | translate }}</mat-label>
      <input
        matInput
        type="password"
        placeholder="enter new password"
        formControlName="password"
      />
      <mat-error *ngIf="userForm.controls.password.errors">{{
        getErrorMessage("password")
      }}</mat-error>
    </mat-form-field>

    <div class="d-flex justify-content-center">
      <button mat-button color="primary" (click)="closeUserForm()">
        {{ "Close" | translate | titlecase }}
      </button>
      <button
        mat-button
        color="primary"
        type="submit"
        [disabled]="!userForm.valid"
      >
        {{ "Save changes" | translate | titlecase }}
      </button>
    </div>
    <button mat-button color="primary" (click)="openDeleteConfirm()">
      {{ "Delete user" | translate | titlecase }}
    </button>
  </form>
</div>
<div class="message" *ngIf="messageVisible">{{ messageText }}</div>
<app-modal *ngIf="modal.isVisible$.value">
  <app-confirmation
    title="Do you want to delete your account?"
    (confirmEvent)="deleteUser($event)"
  ></app-confirmation>
</app-modal>
