form {
  display: flex;
  flex-direction: column;
}
.message {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 1.7;
  padding: 20px;
  width: 300px;
  height: 160px;
  font-size: 20px;
  background-color: wheat;
  border-radius: 5px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 5;
}
