<div class="container">
  <button mat-mini-fab color="grey" (click)="goToBoards()">
    <mat-icon>arrow_left</mat-icon>
  </button>
  <h3>{{ board.title }}</h3>
  <mat-divider></mat-divider>
  <div class="column-wrapper">
    <div class="newColumn" (click)="openColumnForm()">add new column</div>
    <app-column *ngFor="let column of columns" [column]="column"></app-column>
  </div>
  <app-modal *ngIf="modalService.isVisible$.value">
    <app-column-form
      (columnFormEvent)="onColumnFormEvent($event)"
    ></app-column-form>
  </app-modal>
</div>
